page-home {
    background-color: white;
    .my-title{
        display: inline-block;
    }

    .log-out{
        float: right;
        display: inline-block;
    }

    .increment{
        position: absolute;
        top: 50%;
        left: 30%;
    }

    .new{
        background-color:blue;
        position: absolute;
        top: 70%;
        left: 30%;
    }
} 
