page-ar-ui {
    .nav-decor,ion-app{ 
        background-color: transparent; 
    }
    ion-navbar, ion-header{
        visibility: hidden;
    }
    .back{
        position: fixed;
        top: 3%;
        left: 1%;
        color: white;
        background-color: transparent;
        box-shadow: none;
    }

    .test{
        position: fixed;
        top: 60%;
        left: 45%;
        color: white;
        background-color: transparent;
        box-shadow: none;
    }

}
