<?xml version='1.0' encoding='utf-8'?>
<plugin id="ar-view-plugin" version="0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>ARPlugin</name><js-module name="ARPlugin" src="www/ARPlugin.js"><clobbers target="cordova.plugins.ARPlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="ARPlugin"><param name="android-package" value="ar-view-plugin.ARPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/ARPlugin.java" target-dir="src/ar-view-plugin/ARPlugin" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="ARPlugin"><param name="ios-package" value="ARPlugin" /></feature></config-file><source-file src="src/ios/ARPlugin.m" /></platform></plugin>